In [1]:
import pandas as pd
import ast

df = pd.read_csv('../data/final_datasets/city_state_lat_lon.csv')

In [2]:
df = df.drop('Unnamed: 0', axis=1)
# Convert string into list and then items in list to a number
df['boundingboxes'] = [[ eval(num) for num in ast.literal_eval(boundingbox)] for boundingbox in df['boundingboxes']]
df.head(3)

,city,state,lat,lon,boundingboxes
0,Morgandale,Ohio,41.258635,-80.785039,"[41.2386346, 41.2786346, -80.8050388, -80.7650..."
1,Durant,Oklahoma,33.991976,-96.377676,"[33.929987, 34.091852, -96.465781, -96.320481]"
2,Village of Oak Creek (Big Park),Arizona,34.779460,-111.762446,"[34.7594605, 34.7994605, -111.7824459, -111.74..."

In [5]:
import random

# Create dummy data for each city
description = []
weather = []
population = []
housing = []
walkscore = []
job_industry = []
avg_salary = []
diversity = []
community_metrics = []
for _ in range(0, len(df['city'])):

    description.append("A description of the city will be included here.")
    temps = {"avg_temp": {"Jan": random.randint(50, 60), 
                          "Feb": random.randint(50, 60), 
                          "Mar":random.randint(55, 65), 
                          "Apr":random.randint(60, 70), 
                          "May":random.randint(70, 80), 
                          "Jun":random.randint(73, 85), 
                          "Jul":random.randint(80, 90), 
                          "Aug":random.randint(85, 100),
                          "Sep":random.randint(80, 95),
                          "Oct":random.randint(70, 80),
                          "Nov":random.randint(65, 75),
                          "Dec":random.randint(50, 60)},
             
             "low_temps": {"Jan":random.randint(40, 50), 
                           "Feb":random.randint(40, 50), 
                           "Mar":random.randint(45, 55), 
                           "Apr":random.randint(50, 60), 
                           "May":random.randint(60, 70), 
                           "Jun":random.randint(63, 75), 
                           "Jul":random.randint(70, 80), 
                           "Aug":random.randint(75, 90),
                           "Sep":random.randint(70, 85),
                           "Oct":random.randint(60, 70),
                           "Nov":random.randint(65, 65),
                           "Dec":random.randint(40, 50)},
             
             "high_temps": {"Jan":random.randint(50, 60), 
                            "Feb":random.randint(50, 60), 
                            "Mar":random.randint(55, 65), 
                            "Apr":random.randint(60, 70), 
                            "May":random.randint(70, 80), 
                            "Jun":random.randint(73, 85), 
                            "Jul":random.randint(80, 90), 
                            "Aug":random.randint(85, 100),
                            "Sep":random.randint(80, 95),
                            "Oct":random.randint(70, 80),
                            "Nov":random.randint(65, 75),
                            "Dec":random.randint(50, 60)}
            }

    weather.append(temps)

    pop = {  "2012": random.randint(100000, 120000),
             "2013": random.randint(110000, 125000),
             "2014": random.randint(110000, 129000),
             "2015": random.randint(110000, 129000),
             "2016": random.randint(114000, 130000),
             "2017": random.randint(119000, 120000),
             "2018": random.randint(112000, 140000),
             "2019": random.randint(130000, 180000),
             "2020": random.randint(202300, 215000)}
    
    population.append(pop)
    
    house_prices = { "2012": random.randint(100000, 120000),
                     "2013": random.randint(110000, 125000),
                     "2014": random.randint(110000, 129000),
                     "2015": random.randint(110000, 129000),
                     "2016": random.randint(114000, 130000),
                     "2017": random.randint(119000, 120000),
                     "2018": random.randint(112000, 140000),
                     "2019": random.randint(130000, 180000),
                     "2020": random.randint(202300, 215000),
                     "2021": random.randint(219000, 260000),
                     "2022": random.randint(220000, 299999),
                     "2023": random.randint(250000, 310000)}
    
    housing.append(house_prices)
    walkscore.append(random.randint(0, 10))
    jobs = {"agriculture_mining": random.randint(0, 100),
            "entertainment": random.randint(0, 100),
            "construction": random.randint(0, 100),
            "education/Health Care": random.randint(0, 100),
            "finance_realestate": random.randint(0, 100),
            "information": random.randint(0, 100),
            "manufacturing": random.randint(0, 100),
            "Non-governmental_services": random.randint(0, 100),
            "science": random.randint(0, 100),
            "public_administration": random.randint(0, 100),
            "retail_trade": random.randint(0, 100),
            "transportation": random.randint(0, 100),
            "wholesale_trade": random.randint(0, 100),
            "other": random.randint(0, 4),
    }
    job_industry.append(jobs)
    salary = {
        "less_10k": random.randint(0, 30),
        "10k-25k": random.randint(0, 50),
        "25k-40k": random.randint(0, 80),
        "40k-55k": random.randint(0, 100),
        "55k-70k": random.randint(0, 100),
        "70k-85k": random.randint(0, 80),
        "85k-100k": random.randint(0, 70),
        "100k-150k": random.randint(0, 60),
        "more_150k": random.randint(0, 40),
    }
    avg_salary.append(salary)
    diverse = {
        "White": random.randint(0, 100),
        "Hispanic or Latino": random.randint(0, 100),
        "African American": random.randint(0, 100),
        "Asian": random.randint(0, 100),
        "American Indian": random.randint(0, 100),
        "Other": random.randint(0, 10),
    }
    diversity.append(diverse)

    metrics = {
        "cleanliness": {
            "1": 0,
            "2": 0,
            "3": 0,
            "4": 0,
            "5": 0
        },
        "safety": {
            "1": 0,
            "2": 0,
            "3": 0,
            "4": 0,
            "5": 0
        },
        "landmarks": {
            "1": 0,
            "2": 0,
            "3": 0,
            "4": 0,
            "5": 0
        },
        "education": {
            "1": 0,
            "2": 0,
            "3": 0,
            "4": 0,
            "5": 0
        }
    }
    community_metrics.append(metrics)
    
    

# Add new data to dataframe
df['description'] = description
df['weather'] = weather
df['population'] = population
df['housing'] = housing
df['walkscore'] = walkscore
df['job_industry'] = job_industry
df['avg_salary'] = avg_salary
df['diversity'] = diversity
df['community_metrics'] = community_metrics

In [6]:
# Create boundingbox from boundingboxes values
boundingbox = []
for boundingbox_coords in df['boundingboxes']:
    box = {
        "type": "Polygon",
        "coordinates":[[
            [boundingbox_coords[2], boundingbox_coords[0]],
            [boundingbox_coords[2], boundingbox_coords[1]],
            [boundingbox_coords[3], boundingbox_coords[1]],
            [boundingbox_coords[3], boundingbox_coords[0]],
            [boundingbox_coords[2], boundingbox_coords[0]]
        ]] # For some reason a double array is needed
    }
    boundingbox.append(box)


df['boundingbox'] = boundingbox

# drop boundingbox
df = df.drop('boundingboxes', axis=1)

In [7]:
# View df
df.head()

,city,state,lat,lon,description,weather,population,housing,walkscore,job_industry,avg_salary,diversity,community_metrics,boundingbox
0,Morgandale,Ohio,41.258635,-80.785039,A description of the city will be included here.,"{'avg_temp': {'Jan': 57, 'Feb': 56, 'Mar': 63,...","{'2012': 110818, '2013': 111334, '2014': 12347...","{'2012': 109751, '2013': 122077, '2014': 12736...",5,"{'agriculture_mining': 58, 'entertainment': 61...","{'less_10k': 27, '10k-25k': 20, '25k-40k': 11,...","{'White': 95, 'Hispanic or Latino': 9, 'Africa...","{'cleanliness': {'1': 0, '2': 0, '3': 0, '4': ...","{'type': 'Polygon', 'coordinates': [[[-80.8050..."
1,Durant,Oklahoma,33.991976,-96.377676,A description of the city will be included here.,"{'avg_temp': {'Jan': 54, 'Feb': 57, 'Mar': 65,...","{'2012': 111076, '2013': 112884, '2014': 12812...","{'2012': 114975, '2013': 123482, '2014': 12144...",7,"{'agriculture_mining': 13, 'entertainment': 73...","{'less_10k': 10, '10k-25k': 3, '25k-40k': 74, ...","{'White': 70, 'Hispanic or Latino': 20, 'Afric...","{'cleanliness': {'1': 0, '2': 0, '3': 0, '4': ...","{'type': 'Polygon', 'coordinates': [[[-96.4657..."
2,Village of Oak Creek (Big Park),Arizona,34.779460,-111.762446,A description of the city will be included here.,"{'avg_temp': {'Jan': 50, 'Feb': 52, 'Mar': 60,...","{'2012': 103727, '2013': 120866, '2014': 12411...","{'2012': 106465, '2013': 120904, '2014': 12119...",3,"{'agriculture_mining': 89, 'entertainment': 94...","{'less_10k': 4, '10k-25k': 25, '25k-40k': 12, ...","{'White': 63, 'Hispanic or Latino': 93, 'Afric...","{'cleanliness': {'1': 0, '2': 0, '3': 0, '4': ...","{'type': 'Polygon', 'coordinates': [[[-111.782..."
3,Lake Lotawana,Missouri,38.925117,-94.249364,A description of the city will be included here.,"{'avg_temp': {'Jan': 56, 'Feb': 52, 'Mar': 60,...","{'2012': 106297, '2013': 114744, '2014': 12401...","{'2012': 119006, '2013': 112950, '2014': 12664...",3,"{'agriculture_mining': 49, 'entertainment': 5,...","{'less_10k': 10, '10k-25k': 21, '25k-40k': 10,...","{'White': 58, 'Hispanic or Latino': 88, 'Afric...","{'cleanliness': {'1': 0, '2': 0, '3': 0, '4': ...","{'type': 'Polygon', 'coordinates': [[[-94.2748..."
4,Seaside Heights,New Jersey,39.942761,-74.073559,A description of the city will be included here.,"{'avg_temp': {'Jan': 56, 'Feb': 60, 'Mar': 65,...","{'2012': 102695, '2013': 122381, '2014': 12131...","{'2012': 106616, '2013': 117880, '2014': 11618...",6,"{'agriculture_mining': 29, 'entertainment': 77...","{'less_10k': 2, '10k-25k': 21, '25k-40k': 19, ...","{'White': 61, 'Hispanic or Latino': 68, 'Afric...","{'cleanliness': {'1': 0, '2': 0, '3': 0, '4': ...","{'type': 'Polygon', 'coordinates': [[[-74.0907..."

In [8]:
# Upload DF to mongoDB
from pymongo import MongoClient

# Connect to MongoDB (Enter URI)
client =  MongoClient("")
db = client['CitySurf']
collection = db['cities']
data_dict = df.to_dict("records")

In [ ]:
# Insert collection
collection.insert_many(data_dict)