In [1]:
import pandas as pd

file_path = '../data/city_market_tracker.tsv000'
chunk_size = 100000

# Read the header separately
header = pd.read_csv(file_path, delimiter='\t', nrows=10).columns

header

Index(['period_begin', 'period_end', 'period_duration', 'region_type',
       'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region',
       'city', 'state', 'state_code', 'property_type', 'property_type_id',
       'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
       'median_list_price', 'median_list_price_mom', 'median_list_price_yoy',
       'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'months_of_supply', 'months_of_supply_mom',
       'months_of_supply_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'price_drops', 'price_drops_mom',
       'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated'],
      dtype='object')

In [2]:
df = pd.read_csv(file_path, delimiter='\t')

In [23]:
df

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2016-05-01,2016-05-31,30,place,6,34011,f,"Morgandale, OH",Morgandale,Ohio,...,NaN,0.111111,-0.263889,NaN,NaN,NaN,NaN,"Youngstown, OH",49660,2024-07-15 17:39:34
1,2019-06-01,2019-06-30,30,place,6,5683,f,"Durant, OK",Durant,Oklahoma,...,0.147186,NaN,NaN,NaN,0.142857,0.080357,-0.164835,"Durant, OK",20460,2024-07-15 17:39:34
2,2013-11-01,2013-11-30,30,place,6,36081,f,"Village of Oak Creek (Big Park), AZ",Village of Oak Creek (Big Park),Arizona,...,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,"Prescott Valley, AZ",39150,2024-07-15 17:39:34
3,2018-10-01,2018-10-31,30,place,6,10194,f,"Lake Lotawana, MO",Lake Lotawana,Missouri,...,NaN,0.277778,-0.004274,0.116487,0.333333,0.083333,0.333333,"Kansas City, MO",28140,2024-07-15 17:39:34
4,2022-02-01,2022-02-28,30,place,6,17029,f,"Seaside Heights, NJ",Seaside Heights,New Jersey,...,-0.166667,NaN,NaN,NaN,0.000000,NaN,-0.400000,"New Brunswick, NJ",35154,2024-07-15 17:39:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5484738,2015-10-01,2015-10-31,30,place,6,20714,f,"West Pittston, PA",West Pittston,Pennsylvania,...,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,"Scranton, PA",42540,2024-07-15 17:39:34
5484739,2018-12-01,2018-12-31,30,place,6,30480,f,"Pittstown, NY",Pittstown,New York,...,-0.333333,0.181818,-0.284848,0.081818,0.333333,-0.166667,0.333333,"Albany, NY",10580,2024-07-15 17:39:34
5484740,2016-10-01,2016-10-31,30,place,6,25346,f,"Pimmit Hills, VA",Pimmit Hills,Virginia,...,0.000000,0.153846,-0.104218,-0.107023,0.454545,-0.259740,-0.295455,"Washington, DC",47894,2024-07-15 17:39:34
5484741,2016-01-01,2016-01-31,30,place,6,11887,f,"Lincolnton, GA",Lincolnton,Georgia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Augusta, GA",12260,2024-07-15 17:39:34
5484742,2023-08-01,2023-08-31,30,place,6,26043,f,"Southglenn, CO",Southglenn,Colorado,...,-0.110556,0.569231,0.146696,-0.088303,0.614035,0.019832,0.020815,"Denver, CO",19740,2024-07-15 17:39:34

In [27]:
flornce_az =  df[(df['city'] == 'Florence') & (df['state'] == "Arizona") & (df['property_type'] == "Single Family Residential")].copy()
#[['city', 'state', 'period_begin', 'period_end', 'median_sale_price']]
flornce_az['period_begin'] = pd.to_datetime(df['period_begin'])
flornce_az_sorted = flornce_az.sort_values(by='period_begin')

In [28]:
flornce_az_sorted.to_csv('./florence_az_test.csv')

In [42]:
unique_combinations_count = df.groupby(['city', 'state']).size().count()
print(f"Number of unique city-state combinations: {unique_combinations_count}")

Number of unique city-state combinations: 22903

In [17]:
df[(df['city'] == 'Florence') & (df['state'] == "Arizona")]

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
1359,2016-05-01,2016-05-31,30,place,6,6123,f,"Florence, AZ",Florence,Arizona,...,NaN,0.111111,NaN,NaN,NaN,NaN,NaN,"Phoenix, AZ",38060,2024-07-15 17:39:34
2781,2020-11-01,2020-11-30,30,place,6,6123,f,"Florence, AZ",Florence,Arizona,...,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,"Phoenix, AZ",38060,2024-07-15 17:39:34
32172,2019-03-01,2019-03-31,30,place,6,6123,f,"Florence, AZ",Florence,Arizona,...,-0.016886,0.266667,-0.006061,-0.015686,0.142857,0.028571,-0.087912,"Phoenix, AZ",38060,2024-07-15 17:39:34
33647,2016-10-01,2016-10-31,30,place,6,6123,f,"Florence, AZ",Florence,Arizona,...,-0.071429,0.110092,-0.066992,-0.085311,0.222222,0.088889,0.111111,"Phoenix, AZ",38060,2024-07-15 17:39:34
49091,2012-03-01,2012-03-31,30,place,6,6123,f,"Florence, AZ",Florence,Arizona,...,0.105351,0.341463,0.078837,-0.030218,0.250000,0.050000,0.000000,"Phoenix, AZ",38060,2024-07-15 17:39:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5445116,2018-07-01,2018-07-31,30,place,6,6123,f,"Florence, AZ",Florence,Arizona,...,0.124615,0.139241,-0.038179,-0.042578,0.111111,-0.208889,0.111111,"Phoenix, AZ",38060,2024-07-15 17:39:34
5457316,2013-03-01,2013-03-31,30,place,6,6123,f,"Florence, AZ",Florence,Arizona,...,-0.042105,0.164835,-0.054677,-0.137796,0.181818,0.000000,-0.068182,"Phoenix, AZ",38060,2024-07-15 17:39:34
5464234,2015-11-01,2015-11-30,30,place,6,6123,f,"Florence, AZ",Florence,Arizona,...,NaN,0.111111,NaN,NaN,NaN,NaN,NaN,"Phoenix, AZ",38060,2024-07-15 17:39:34
5465001,2015-06-01,2015-06-30,30,place,6,6123,f,"Florence, AZ",Florence,Arizona,...,0.104895,0.186667,0.021961,-0.037823,0.294118,0.217195,-0.160428,"Phoenix, AZ",38060,2024-07-15 17:39:34
5477234,2022-09-01,2022-09-30,30,place,6,6123,f,"Florence, AZ",Florence,Arizona,...,-0.160920,0.540741,0.101716,0.294839,0.160000,-0.026047,-0.058750,"Phoenix, AZ",38060,2024-07-15 17:39:34

In [3]:
city_state = pd.DataFrame()

In [9]:

# Drop duplicates to create a new DataFrame with unique city-state pairs
unique_cities_df = df.drop_duplicates(subset=['city', 'state'])

# Select only the 'city' and 'state' columns
unique_cities_df = unique_cities_df[['city', 'state']]

# Reset the index of the resulting DataFrame
unique_cities_df = unique_cities_df.reset_index(drop=True)

                                  city          state
0                           Morgandale           Ohio
1                               Durant       Oklahoma
2      Village of Oak Creek (Big Park)        Arizona
3                        Lake Lotawana       Missouri
4                      Seaside Heights     New Jersey
...                                ...            ...
22898                        McConnico        Arizona
22899                            Mosby       Virginia
22900                          Schwana     Washington
22901                         Toad Hop        Indiana
22902                           Beaver  West Virginia

[22903 rows x 2 columns]

In [10]:
unique_cities_df.to_csv('./city_state.csv')